//
   Created by chendongliang on 16-9-22.

extends layout

block content
    h1= title

    table#list1
        div#pager1
    br
    br
    table#list2
        div#pager2
    br
    br
    table#list3
        div#pager3

    script(type='text/javascript').

        var bYear = 4;
        var mYear = 30; //建设期和运营期从服务端取配置
        var calNamesArr = ["年份","小客","大客","小货","中货","大货","特大货","拖挂","合计"];
        var colModelArr = [
            {name: 'year', index: 'year', width: 70, align: 'center', sortable: false},
            {name: 'car1', index: 'car1', width: 70, formatter: 'number', sortable: false,align: 'right'},
            {name: 'car2', index: 'car2', width: 70, formatter: 'number', sortable: false,align: 'right'},
            {name: 'car3', index: 'car3', width: 70, formatter: 'number', sortable: false,align: 'right'},
            {name: 'car4', index: 'car4', width: 70, formatter: 'number', sortable: false,align: 'right'},
            {name: 'car5', index: 'car5', width: 70, formatter: 'number', sortable: false,align: 'right'},
            {name: 'car6', index: 'car6', width: 70, formatter: 'number', sortable: false,align: 'right'},
            {name: 'car7', index: 'car7', width: 70, formatter: 'number', sortable: false,align: 'right'},
            {name: 'sum', index: 'sum', width: 70, formatter: 'number', sortable: false,align: 'right'}
        ];
        $(function () {
            pageInit();
        });
        function pageInit() {
            jQuery("#list1").jqGrid({
                url: '/carCalc/car_zss',
                datatype: "json",
                colNames: calNamesArr,
                colModel: colModelArr,
                rowNum: 10,
                width: "auto",
                rowList: [10, 20, 30],
                pager: '#pager1',
                viewrecords: true,
                sortable:false,
                jsonReader: {
                    repeatitems: false
                },
                shrinkToFit: false,
                caption: "折算数车型",
                height: 'auto',
                mtype:"POST"
            });
            jQuery("#list1").jqGrid('navGrid', '#pager2', {edit: false, add: false, del: false});

            jQuery("#list2").jqGrid({
                url: '/carCalc/car_jds',
                datatype: "json",
                colNames: calNamesArr,
                colModel: colModelArr,
                rowNum: 10,
                width: "auto",
                rowList: [10, 20, 30],
                pager: '#pager2',
                viewrecords: true,
                sortable: false,
                jsonReader: {
                    repeatitems: false
                },
                shrinkToFit: false,
                caption: "绝对数车型",
                height: 'auto',
                mtype: "POST"
            });
            jQuery("#list2").jqGrid('navGrid', '#pager2', {edit: false, add: false, del: false});

            jQuery("#list3").jqGrid({
                url: '/carCalc/car_sfsr',
                datatype: "json",
                colNames: calNamesArr,
                colModel: colModelArr,
                rowNum: 10,
                width: "auto",
                rowList: [10, 20, 30],
                pager: '#pager3',
                viewrecords: true,
                sortable: false,
                jsonReader: {
                    repeatitems: false
                },
                shrinkToFit: false,
                caption: "收费收入",
                height: 'auto',
                mtype: "POST"
            });
            jQuery("#list3").jqGrid('navGrid', '#pager3', {edit: false, add: false, del: false});
        }
