<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="templatemo">

    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">

    <link rel='stylesheet' , href='javascripts/jqGrid-master/css/jquery-ui.min.css'>
    <link rel='stylesheet' , href='javascripts/jqGrid-master/css/ui.jqgrid.css'>
    <link rel='stylesheet' , href='stylesheets/qunit-1.22.0.css'>
    <link href="modalExtra.css" rel="stylesheet">
</head>

<body style="background-color: transparent">
<ul class="nav nav-tabs" id="contentnavid" role="tablist">
    <li role="presentation" class="active" onclick="onSwitchTab(this)" tabindex="1"><a href="#tab1" aria-controls="tab1"
                                                                                       data-toggle="tab">项目明细</a></li>
    <li role="presentation" onclick="onSwitchTab(this)" tabindex="2"><a href="#tab2" aria-controls="tab2"
                                                                        data-toggle="tab" style="display: none">收费收入表
        <button type="button" id="closebtn2" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
    <li role="presentation" onclick="onSwitchTab(this)" tabindex="3"><a href="#tab3" aria-controls="tab3"
                                                                        data-toggle="tab" style="display: none">运营管理费用表
        <button type="button" id="closebtn3" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
    <li role="presentation" tabindex="4" onclick="onSwitchTab(this)"><a href="#tab4" aria-controls="tab4"
                                                                        data-toggle="tab" style="display: none">固定资产表
        <button type="button" id="closebtn4" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
    <li role="presentation" tabindex="5" onclick="onSwitchTab(this)"><a href="#tab5" aria-controls="tab5"
                                                                        data-toggle="tab" style="display: none">成本表
        <button type="button" id="closebtn5" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
    <li role="presentation" tabindex="6" onclick="onSwitchTab(this)"><a href="#tab6" aria-controls="tab6"
                                                                        data-toggle="tab" style="display: none">利润表
        <button type="button" id="closebtn6" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
    <li role="presentation" tabindex="7" onclick="onSwitchTab(this)"><a href="#tab7" aria-controls="tab7"
                                                                        data-toggle="tab" style="display: none">还本付息表
        <button type="button" id="closebtn7" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
    <li role="presentation" tabindex="8" onclick="onSwitchTab(this)"><a href="#tab8" aria-controls="tab8"
                                                                        data-toggle="tab" style="display: none">融资前投资财务现金流量
        <button type="button" id="closebtn8" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
    <li role="presentation" tabindex="9" onclick="onSwitchTab(this)"><a href="#tab9" aria-controls="tab9"
                                                                        data-toggle="tab" style="display: none">财务计划流量
        <button type="button" id="closebtn9" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
    <li role="presentation" tabindex="10" onclick="onSwitchTab(this)"><a href="#tab10" aria-controls="tab10"
                                                                         data-toggle="tab"
                                                                         style="display: none">资本金流量
        <button type="button" id="closebtn10" class="close" aria-label="Close">
            <span aria-hidden="true" style="color:red">&times;</span></button>
    </a></li>
</ul>
<div class="tab-content">
    <div class="active tab-pane" id="tab1">
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">

                <div class="panel panel-default no-border">
                    <div class="panel-heading border-radius-10">
                        <h2 id='h2'></h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-2 col-md-2 form-group" style="float: left">
                            <label>地方补贴(万)</label>
                            <input type="text" id='dfbt' readonly="true" class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group" style="float: left">
                            <label>补贴比例(%)</label>
                            <input type="text" id='btbl' readonly="true" class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group" style="float: left">
                            <label>中交资本金(%)</label>
                            <input type="text" id='zbj30' readonly="true" class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group" style="float: left">
                            <label>项目Pt</label>
                            <input type="text" id='pt' readonly="true" class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group" style="float: left">
                            <label>项目FIRR(%)</label>
                            <input type="text" id='firr30' readonly="true" class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group" style="float: left">
                            <label>项目NPV</label>
                            <input type="text" id='npv30' readonly="true" class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-2 form-group" style="float: left">
                            <label>还清贷款年数</label>
                            <input type="text" id='loanYear' readonly="true" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default no-border">
                    <div class="panel-body">
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(2)">收费收入表</button>
                        </div>
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(3)">运营管理收费表</button>
                        </div>
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(4)">固定资产表</button>
                        </div>
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(5)">成本表</button>
                        </div>
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(6)">利润表</button>
                        </div>
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(7)">还本付息表</button>
                        </div>
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(8)">融资前投资财务现金流量
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(9)">财务计划流量</button>
                        </div>
                        <div class="col-lg-3 col-md-3 form-group" style="float: left">
                            <button style="width: 200px" class='btn btn-primary' onClick="onshowtab(10)">资本金流量</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="templatemo-content col-1 light-gray-bg">
            <div class="templatemo-content-widget white-bg">
                <div class="panel panel-default no-border">
                    <div class="panel-body">
                        <form class="templatemo-login-form" id="prForm">
                            <div class="row form-group">
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>运营期(年数)</label>
                                    <input type="text" id='yyq' name="yyq" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun()" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>总投资(万)</label>
                                    <input type="text" id='invest' name="invest" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>国内贷款利息(万)</label>
                                    <input type="text" id='gndklx' name="gndklx" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>建安费(万)</label>
                                    <input type="text" id='jaf' name='jaf' onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>地方补助(万)</label>
                                    <input type="text" id='dfbz' name='dfbz' onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>上期贷款利率(%)</label>
                                    <input type="text" id='dklx5y' name="dklx5y" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>短期贷款利率(%)</label>
                                    <input type="text" id='dkll' name="dkll" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>下浮比例(%)</label>
                                    <input type="text" id='xfbl' name='xfbl' onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>价差比例(%)</label>
                                    <input type="text" id='jcbl' name='jcbl' onkeyup="value=value.replace(/[^\-?\d.]/g,'')" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>价差税率(%)</label>
                                    <input type="text" id='jcsl' name='jcsl' onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>施工利润比例(%)</label>
                                    <input type="text" id='sglrbl' name='sglrbl' onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>施工利润税率(%)</label>
                                    <input type="text" id='sglrsl' name='sglrsl' onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>部补助比例(%)</label>
                                    <input type="text" id='bbzbl' name='bbzbl' onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  onchange="onChangeFun" class="form-control">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group" style="float: left">
                                    <label>基准折现率(%)</label>
                                    <input type="text" id='jzzxl' name='jzzxl' onkeyup="value=value.replace(/[^\-?\d.]/g,'')" onchange="onChangeFun" class="form-control">
                                </div>
                            </div>
                        </form>
                        <div class="form-group text-right">
                            <button class="templatemo-blue-button" onclick="onUpdateProject()">更新
                            </button>
                            <button class="templatemo-blue-button" onClick="onModify()">修改参数</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab2">
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list5"></table>
                <div id='pager5'></div>
                <div id="toolbar">
                    <h4 style="float:left">交通量及车型占比预测</h4>
                </div>
                <table id="table" class="table table-striped table-bordered templatemo-user-table"
                       data-toggle="table"
                       data-page-list=""
                       data-pagination="true"
                       data-page-size="1000"
                       data-height="auto">
                    <colgroup>
                        <col style="width:15%">
                        <col style="width:17%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:7%">
                        <col style="width:5%">
                        <col style="width:0%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-field="_id"></th>
                        <th data-field="y" data-editable="true" data-formatter="yFormatter">年份</th>
                        <th data-field="jtl" data-editable="true" data-formatter="jtlFormatter">预测交通量</th>
                        <th data-field="k1" data-editable="true" data-formatter="k1Formatter">客一类(%)</th>
                        <th data-field="k2" data-editable="true" data-formatter="k2Formatter">客二类(%)</th>
                        <th data-field="k3" data-editable="true" data-formatter="k3Formatter">客三类(%)</th>
                        <th data-field="k4" data-editable="true" data-formatter="k4Formatter">客四类(%)</th>
                        <th data-field="h1" data-editable="true" data-formatter="h1Formatter">货一类(%)</th>
                        <th data-field="h2" data-editable="true" data-formatter="h2Formatter">货二类(%)</th>
                        <th data-field="h3" data-editable="true" data-formatter="h3Formatter">货三类(%)</th>
                        <th data-field="h4" data-editable="true" data-formatter="h4Formatter">货四类(%)</th>
                        <th data-field="h5" data-editable="true" data-formatter="h5Formatter">货五类(%)</th>
                        <th data-field="h5" data-editable="true" data-formatter="hjFormatter">合计</th>
                        <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                    </tr>
                    </thead>
                </table>
                <button id="button" class="btn btn-success">添加记录</button>
                <div style="margin: 10px">
                    <h4 style="float:left">收费标准系数</h4>
                </div>
                <table id="sfbzTable" class="table table-striped table-bordered templatemo-user-table"
                       data-toggle="table"
                       data-pagination="true"
                       data-page-size="1000"
                       data-page-list=""
                       data-height="auto">
                    <thead>
                    <tr>
                        <th data-field="sfid"></th>
                        <th data-field="sfy" data-editable="true" data-formatter="sfyFormatter">年份</th>
                        <th data-field="sfk1" data-editable="true" data-formatter="sfk1Formatter">客一类</th>
                        <th data-field="sfk2" data-editable="true" data-formatter="sfk2Formatter">客二类</th>
                        <th data-field="sfk3" data-editable="true" data-formatter="sfk3Formatter">客三类</th>
                        <th data-field="sfk4" data-editable="true" data-formatter="sfk4Formatter">客四类</th>
                        <th data-field="sfh1" data-editable="true" data-formatter="sfh1Formatter">货一类</th>
                        <th data-field="sfh2" data-editable="true" data-formatter="sfh2Formatter">货二类</th>
                        <th data-field="sfh3" data-editable="true" data-formatter="sfh3Formatter">货三类</th>
                        <th data-field="sfh4" data-editable="true" data-formatter="sfh4Formatter">货四类</th>
                        <th data-field="sfh5" data-editable="true" data-formatter="sfh5Formatter">货五类</th>
                        <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                    </tr>
                    </thead>
                </table>
                <button id="sfbzAddYear" class="btn btn-success">添加记录</button>
                <div style="margin: 10px">
                </div>
                <table id="xsTable" class="table table-striped table-bordered templatemo-user-table"
                       data-toggle="table"
                       data-page-list=""
                       data-pagination="true"
                       data-height="auto">
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-field="name" data-editable="true" >备注</th>
                        <th data-field="xsk1" data-editable="true" data-formatter="xsk1Formatter">客一类</th>
                        <th data-field="xsk2" data-editable="true" data-formatter="xsk2Formatter">客二类</th>
                        <th data-field="xsk3" data-editable="true" data-formatter="xsk3Formatter">客三类</th>
                        <th data-field="xsk4" data-editable="true" data-formatter="xsk4Formatter">客四类</th>
                        <th data-field="xsh1" data-editable="true" data-formatter="xsh1Formatter">货一类</th>
                        <th data-field="xsh2" data-editable="true" data-formatter="xsh2Formatter">货二类</th>
                        <th data-field="xsh3" data-editable="true" data-formatter="xsh3Formatter">货三类</th>
                        <th data-field="xsh4" data-editable="true" data-formatter="xsh4Formatter">货四类</th>
                        <th data-field="xsh5" data-editable="true" data-formatter="xsh5Formatter">货五类</th>
                    </tr>
                    </thead>
                </table>
                <div class="form-group text-right">
                    <button onclick="onPostForm()" class="templatemo-blue-button">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab3">
        <!--运营管理费用-->
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list2"></table>
                <div id='pager2'></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab4">
        <!--固定资产表-->
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list9"></table>
                <div id='pager9'></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab5">
        <!--成本表-->
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list7"></table>
                <div id='pager7'></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab6">
        <!--利润表-->
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list11"></table>
                <div id='pager11'></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab7">
        <!--还本付息表-->
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list12"></table>
                <div id='pager12'></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab8">
        <!--融资前投资财务现金流量-->
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list6"></table>
                <div id='pager6'></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab9">
        <!--财务计划流量-->
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list8"></table>
                <div id='pager8'></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab10">
        <!--资本金流量-->
        <div class="templatemo-content col-1 light-gray-bg" style="min-height: auto">
            <div class="templatemo-content-widget white-bg">
                <table id="list10"></table>
                <div id='pager10'></div>
            </div>
        </div>
    </div>
</div>
<!-- JS -->
<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="webLogic.js"></script>
<script src="SRSFmodifyTable.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->

<script src="javascripts/jqGrid-master/js/jquery-ui.min.js"></script>
<script src="javascripts/jqGrid-master/js/jquery.jqgrid.src.js"></script>
<script src="javascripts/jqGrid-master/js/qunit-1.22.0.js"></script>

<script>
    var tabFlg = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    var auto_height = 1200
    var url = decodeURI(location.href);
    var tmp1 = url.split("?")[1];
    var haveChange = false
    if (tmp1) {
        var tmp = tmp1.split("&")[0]
        var tmp3 = tmp.split("=")[1];
        document.getElementById("h2").innerHTML = tmp3;
        projectName = tmp3
    }

    window.parent.document.getElementById('ifr').style.height = "1000px"
    // 计算页面的实际高度，iframe自适应会用到

    //遍历所有项目
    var proDat = {}
    var outData = {}

    $.getJSON("/manageProject/getProjectByName", {pn: tmp3}, function (data) {
        window.parent.onLoading("hide")
        proDat = data.rows.arg;
        outData = data.rows.out;
        document.getElementById("yyq").value = proDat.yyq || ""
        document.getElementById("invest").value = proDat.ztz || ""
        document.getElementById("xfbl").value = proDat.xfbl|| ""
        document.getElementById("jaf").value = proDat.jaf|| ""
        document.getElementById("gndklx").value = proDat.gndklx|| ""
        document.getElementById("dklx5y").value = proDat.dklx5y|| ""
        document.getElementById("dkll").value = proDat.dkll || ""

        document.getElementById("jcbl").value = proDat.jcbl|| ""
        document.getElementById("jcsl").value = proDat.jcsl|| ""
        document.getElementById("sglrbl").value = proDat.sglrb|| ""
        document.getElementById("sglrsl").value = proDat.sglrsl|| ""
        document.getElementById("dfbz").value = proDat.dfbz|| ""
        document.getElementById("bbzbl").value = proDat.bbbbl|| ""
        document.getElementById("jzzxl").value = proDat.jzzxl|| ""

        document.getElementById("dfbt").value = Number(outData.localSubSum).toFixed(2)|| ""
        document.getElementById("btbl").value = proDat.bbbbl|| ""
        document.getElementById("loanYear").value = outData.loanYear|| ""
        document.getElementById("zbj30").value = Number(outData.zbj30*100).toFixed(2)|| ""
        document.getElementById("firr30").value = Number(outData.firr30*100).toFixed(2)|| ""
        document.getElementById("npv30").value = Number(outData.npv30).toFixed(2)|| ""
        document.getElementById("pt").value = Number(outData.pt).toFixed(2)|| ""

        bYear =  Number(proDat.buildSel)
        mYear = Number(proDat.yyq)

        
    })
    function onModify() {
        window.parent.onLoading("show",1000)
        var myurl = "modify-project?isc=0&pc=" + tmp3
        window.location.href = myurl
    }

    function onAutoBodyHeight(index) {
        window.parent.document.getElementById('ifr').style.height = "1000px"
    }
    var activeTab = "tab1"; //当前的tab页。默认为第一个tab页。
    var previousTab;  //上一个打开的tab页。默认为空。
    $(function () {
        //实现事件响应函数，当tab页被显示时会触发
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            //获取当前被显示的tab页标签的aria-controls属性值
            activeTab = $(e.target).attr("aria-controls");
            //获取前一个被显示的tab页标签的aria-controls属性值
            previousTab = $(e.relatedTarget).attr("aria-controls");
        });

        //点击带关闭按钮tab页标签上的x后的响应事件

        function onRegCloseEvent(bnt, tabName) {
            bnt.click(function (e) {
                $(this).parent().css("display", "none"); //隐藏tab头，调用remove方法就是删除了
//                $('#'+tabName).css("display","none"); //隐藏tab正文信息，调用remove方法就是删除了
                if (activeTab == tabName) { //判断当前tab页是否是带关闭按钮的tab页，如果是，则显示上次打开的tab页
                    $('#contentnavid a[href="#' + previousTab + '"]').tab('show'); //显示tab页
                }
                return false; //一定要return false，阻止事件往上冒泡
            });
        }

        onRegCloseEvent($('#closebtn1'), 'tab1')
        onRegCloseEvent($('#closebtn2'), 'tab2')
        onRegCloseEvent($('#closebtn3'), 'tab3')
        onRegCloseEvent($('#closebtn4'), 'tab4')
        onRegCloseEvent($('#closebtn5'), 'tab5')
        onRegCloseEvent($('#closebtn6'), 'tab6')
        onRegCloseEvent($('#closebtn7'), 'tab7')
        onRegCloseEvent($('#closebtn8'), 'tab8')
        onRegCloseEvent($('#closebtn9'), 'tab9')
        onRegCloseEvent($('#closebtn10'), 'tab10')
    });
    function onshowtab(index) {
        $("#closebtn" + index).parent().css("display", "block"); //显示tab头
        $('#contentnavid a[href="#tab' + index + '"]').tab('show'); //显示tab页
        window.parent.document.documentElement.scrollTop = window.parent.document.body.scrollTop = 0
        onAutoBodyHeight(index)
        if (tabFlg[index] == 1) return
        tabFlg[index] = 1
        switch (index) {
            case 1:
                break;
            case 2:
                onCarCalc()
                srsf()
                setCarYearTableView(proDat)
                setXsTableView(proDat)
                setSfYearTableView(proDat)
                break;
            case 3:
                onRunManage()
                break;
            case 4:
                onFixedAssets()
                break;
            case 5:
                onCost()
                break;
            case 6:
                onProfit()
                break;
            case 7:
                onRepay()
                break;
            case 8:
                onCashFlow()
                break;
            case 9:
                //财务计划流量
                onPlanCashFlow()
                break;
            case 10:
                onInvestFlow()
                break;
            default:
                break;
        }
    }
    function onSwitchTab(self) {
        onAutoBodyHeight(self.tabIndex)
    }
    function onUpdateProject() {
        if(haveChange) {
            var postData = $('#prForm').serialize() + "&pn=" + tmp3
            window.parent.alertDilog("更新数据中......")
            $.post("/manageProject/updateProject", postData, function (data) {
                if (data.ok == 0) {
                    window.parent.alertDilog('修改失败')
                } else {
                    var out = data.out
                    document.getElementById("dfbt").value = Number(out.localSubSum).toFixed(2)|| ""
                    document.getElementById("loanYear").value = out.loanYear|| ""
                    document.getElementById("zbj30").value = Number(out.zbj30*100).toFixed(2)|| ""
                    document.getElementById("firr30").value = Number(out.firr30*100).toFixed(2)|| ""
                    document.getElementById("npv30").value = Number(out.npv30).toFixed(2)|| ""
                    document.getElementById("pt").value = Number(out.pt).toFixed(2)|| ""
                    document.getElementById("btbl").value = Number(out.bbbbl)|| ""
                    window.parent.alertDilog("修改成功",function(){
                        window.location.reload()
                    })
                }
            })
        }else{
            window.parent.alertDilog("未修改数据,不能更新")
        }
    }
    function onChangeFun(){
        haveChange = true
    }
</script>
</body>
</html>