<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>Visual Admin Dashboard - Data Visualization</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
    Visual Admin Template
    http://www.templatemo.com/preview/templatemo_455_visual_admin
    -->
    <link rel="stylesheet" href="../public/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/boostrap/css/bootstrap-table.min.css">
    <link href="../public/boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="../public/boostrap/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body>  
    <!-- Left column -->
    <div class="templatemo-flex-row">
      <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
          <div class="square"></div>
          <h1>Visual Admin</h1>
        </header>
        <div class="profile-photo-container">
          <img src="../public/boostrap/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
          <div class="profile-photo-overlay"></div>
        </div>      

        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
          </div>
        <nav class="templatemo-left-nav">          
          <ul>
            <li><a href="index.html"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
            <li><a href="maps.html"><i class="fa fa-map-marker fa-fw"></i>Maps</a></li>
            <li><a href="manage-users.html"><i class="fa fa-users fa-fw"></i>Manage Users</a></li>
            <li><a href="preferences.html"><i class="fa fa-sliders fa-fw"></i>Preferences</a></li>
            <li><a href="login.html"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
          </ul>  
        </nav>
      </div>
      <!-- Main content --> 
      <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
          <div class="row">
            <nav class="templatemo-top-nav col-lg-12 col-md-12">
              <ul class="text-uppercase">
               hello 白马关
              </ul>  
            </nav> 
          </div>
        </div>
        <div class="templatemo-content-container">         
          <div class="templatemo-content-widget white-bg">
            <h2 class="margin-bottom-10">项目表明细</h2>
            <div class="panel panel-default no-border">
              <div class="panel-heading border-radius-10">
                <h2 id='h2'></h2>
              </div>
              <div class="panel-body">
                <form action="index.html" class="templatemo-login-form" method="post" enctype="multipart/form-data">
                  <div class="row form-group">
                    <div class="col-lg-2 col-md-2 form-group">
                      <label for="inputFirstName">First Name</label>
                      <input type="text" class="form-control" id="inputFirstName" placeholder="John">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                      <label for="inputLastName">Last Name</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="Smith">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                      <label for="inputLastName">Last Name</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="Smith">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                      <label for="inputLastName">Last Name</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="Smith">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                      <label for="inputLastName">Last Name</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="Smith">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                      <label for="inputLastName">Last Name</label>
                      <input type="text" class="form-control" id="inputLastName" placeholder="Smith">
                    </div>
                  </div>
                  <div class="form-group text-right">
                    <button type="submit" class="templatemo-blue-button">Update</button>
                    <button type="reset" class="templatemo-white-button">Reset</button>
                  </div>
                </form>

              </div>
            </div>
            <div class="panel panel-default no-border">
              <div class="panel-body">
                <div class="col-lg-2 col-md-2 form-group">
                  <button class = 'btn btn-primary'>还本付息</button>
                </div>
                <div class="col-lg-2 col-md-2 form-group">
                  <button class = 'btn btn-primary'>还本付息</button>
                </div>
                <div class="col-lg-2 col-md-2 form-group">
                  <button class = 'btn btn-primary'>还本付息</button>
                </div><div class="col-lg-2 col-md-2 form-group">
                  <button class = 'btn btn-primary'>还本付息</button>
                </div><div class="col-lg-2 col-md-2 form-group">
                  <button class = 'btn btn-primary'>还本付息</button>
                </div><div class="col-lg-2 col-md-2 form-group">
                  <button class = 'btn btn-primary'>还本付息</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- JS -->
    <script src="../public/boostrap/js/jquery-1.11.2.min.js"></script>
    <script src="../public/boostrap/js/bootstrap.min.js"></script>
    <script src="../public/boostrap/js/bootstrap-table.js"></script>
    <script>

      var url=decodeURI(location.href);
      var tmp1=url.split("?")[1];
      var tmp2=tmp1.split("&")[0];
      var tmp3=tmp2.split("=")[1];
      document.getElementById("h2").innerHTML=tmp3;

      //遍历所有项目
      $.getJSON("",{ps:""},function(data){
        $.each(data.root,function(idx,item){

        })
      })

    </script>
    <script type="text/javascript" src="js/templatemo-script.js"></script>      <!-- Templatemo Script -->
  </body>
</html>