<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="templatemo-flex-row">
    <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
            <div class="square"></div>
            <h1>Visual Admin</h1>
        </header>
        <div class="profile-photo-container">
            <img src="boostrap/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>
        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="templatemo-left-nav">
            <ul>
                <li><a href="manage-project" class="active" target="ifr"><i class="fa fa-map-marker fa-fw"></i>Manage Project</a></li>
                <li><a href="manage-users" target="ifr"><i class="fa fa-users fa-fw"></i>Manage Users</a></li>
                <li><a href="setGlobal" target="ifr"><i class="fa fa-eject fa-fw"></i>Manage Global</a></li>
                <li><a href="/?clear=0"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="templatemo-content col-1 light-gray-bg" id="bodyDiv">
        <div class="templatemo-top-nav-container">
            <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                    <h1>hello 白马关</h1>
                </nav>
            </div>
        </div>
        <iframe src="" style="width: 100%" frameBorder=0 scrolling=no id="ifr" name="ifr"></iframe>
    </div>
</div>

<script src="boostrap/js/jquery.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script src="cookieUnit.js"></script>
<script>
    $(function () {
        if(getCookie('uid')==null || getCookie('cn')==null || getCookie('pwd')==null){
            var myurl = "/";
            window.location.assign(encodeURI(myurl));
        }else {
            window['ifr'].location.href = "manage-project"

            var mainheight = $(this).contents().find("body").height() + 100;
            $('#ifr').height(mainheight);
        }
    });
    function onCreateProject() {
        window['ifr'].location.href ='modify-project?isc=1'
    }
</script>
</body>
</html>
