<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visual Admin Dashboard - Data Visualization</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!--
        Visual Admin Template
http://www.templatemo.com/preview/templatemo_455_visual_admin
    -->
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="boostrap/css/bootstrapValidator.css" rel="stylesheet">

</head>
<body>
<!-- Left column -->
<div class="templatemo-flex-row">
    <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
            <div class="square"></div>
            <h1>Visual Admin</h1>
        </header>
        <div class="profile-photo-container">
            <img src="boostrap/images/profile-photo.jpg" alt="Profile Photo" class="img-responsive">
            <div class="profile-photo-overlay"></div>
        </div>

        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="templatemo-left-nav">
            <ul>
                <li><a href="index.html"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
                <li><a href="maps.html"><i class="fa fa-map-marker fa-fw"></i>Maps</a></li>
                <li><a href="manage-users.html"><i class="fa fa-users fa-fw"></i>Manage Users</a></li>
                <li><a href="preferences.html"><i class="fa fa-sliders fa-fw"></i>Preferences</a></li>
                <li><a href="login.html"><i class="fa fa-eject fa-fw"></i>Sign Out</a></li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <div class="templatemo-content col-1 light-gray-bg">
        <div class="templatemo-top-nav-container">
            <div class="row">
                <nav class="templatemo-top-nav col-lg-12 col-md-12">
                    <ul class="text-uppercase">
                        hello 白马关
                    </ul>
                </nav>
            </div>
        </div>
        <div class="templatemo-content-container">
            <div class="templatemo-content-widget white-bg">
                <h2 class="margin-bottom-10">项目表明细</h2>
                <div class="panel panel-default no-border">
                    <div class="panel-heading border-radius-10">
                        <h2 id='h2'></h2>
                    </div>
                    <div class="panel-body">
                        <form class="templatemo-login-form" id="prForm">
                            <div class="row form-group" id="modifyForm">
                                <div class="col-lg-6 col-md-6 form-group">
                                    <label for="tz">项目名称</label>
                                    <input type="text" class="form-control" id="pn" name="pn">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="tz">投资</label>
                                    <input type="number" class="form-control" id="tz" name="tz">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="lx">利息</label>
                                    <input type="number" class="form-control" id="lx" name="lx">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="sr">收入</label>
                                    <input type="number" class="form-control" id="sr" name="sr">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="qc">全长</label>
                                    <input type="number" class="form-control" id="qc" name="qc">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="ztz">总投资</label>
                                    <input type="number" class="form-control" id="ztz" name="ztz">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="gndklx">国内贷款利息</label>
                                    <input type="number" class="form-control" id="gndklx" name="gndklx">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="dklx5y">国内5年以上贷款利息</label>
                                    <input type="number" class="form-control" id="dklx5y" name="dklx5y">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="dkll">短期贷款利率</label>
                                    <input type="number" class="form-control" id="dkll" name="dkll">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="jaf">建安费</label>
                                    <input type="number" class="form-control" id="jaf" name="jaf">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="xfbl">下浮比例</label>
                                    <input type="number" class="form-control" id="xfbl" name="xfbl">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="jcbl">价差比例</label>
                                    <input type="number" class="form-control" id="jcbl" name="jcbl">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="jcsl">价差税率</label>
                                    <input type="text" class="form-control" id="jcsl" name="jcsl">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="sglrb">施工利润比例</label>
                                    <input type="text" class="form-control" id="sglrb" name="sglrb">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="sglrsl">施工利润税率</label>
                                    <input type="text" class="form-control" id="sglrsl" name="sglrsl">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="zzs">增值税</label>
                                    <input type="text" class="form-control" id="zzs" name="zzs">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="df">地方</label>
                                    <input type="text" class="form-control" id="df" name="df">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="zj">中交</label>
                                    <input type="text" class="form-control" id="zj" name="zj">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="yyqzjfh">运营期中交分红比例</label>
                                    <input type="text" class="form-control" id="yyqzjfh" name="yyqzjfh">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="gkhjjll">国开行基金利率</label>
                                    <input type="text" class="form-control" id="gkhjjll" name="gkhjjll">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="gkhjjbl">国开行基金比例</label>
                                    <input type="text" class="form-control" id="gkhjjbl" name="gkhjjbl">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="gkhjjje">国开行基金金额</label>
                                    <input type="number" class="form-control" id="gkhjjje" name="gkhjjje">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="bbb">部补助</label>
                                    <input type="number" class="form-control" id="bbb" name="bbb">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="dfbz">地方补助</label>
                                    <input type="number" class="form-control" id="dfbz" name="dfbz">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="bbbbl">部补助比例</label>
                                    <input type="number" class="form-control" id="bbbbl" name="bbbbl">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="jzzxl">基准折现率</label>
                                    <input type="number" class="form-control" id="jzzxl" name="jzzxl">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="sds">所得税</label>
                                    <input type="number" class="form-control" id="sds" name="sds">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label for="lzs">流转税</label>
                                    <input type="number" class="form-control" id="lzs" name="lzs">
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label class="control-label templatemo-block">冲减模式</label>
                                    <select onchange="onModule(this.value)" class="form-control" style="overflow-y: scroll;" id="moduleSel" name="moduleSel">
                                        <option value="0">冲减贷款模式</option>
                                        <option value="1">冲减资本金模式</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-2 form-group">
                                    <label class="control-label templatemo-block">建设期</label>
                                    <select onchange="onBuildYear(this.value)" class="form-control" style="overflow-y: scroll;" id="buildSel" name="buildSel">
                                        <option value="0">0年</option>
                                        <option value="1">1年</option>
                                        <option value="2">2年</option>
                                        <option value="3">3年</option>
                                        <option value="4">4年</option>
                                        <option value="5">5年</option>
                                        <option value="6">6年</option>
                                        <option value="7">7年</option>
                                        <option value="8">8年</option>
                                        <option value="9">9年</option>
                                        <option value="10">10年</option>
                                    </select>
                                </div>
                            </div>

                            <input type="text" class="form-control" id="cn" name="cn" style="display: none">
                            <input type="text" class="form-control" id="isc" name="isc" style="display: none">

                            <div class="form-group text-right">
                                <button onclick="onPostForm()" class="templatemo-blue-button">Update</button>
                                <button type="reset" onclick="onRest()" class="templatemo-white-button">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script src="boostrap/js/jquery-1.11.2.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="boostrap/js/bootstrapValidator.js"></script>
<script src="boostrap/js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script>
    document.getElementById("cn").value=getCookie('cn');

    var url = decodeURI(location.href);
    var tmp1 = url.split("?")[1];
    if(tmp1) {
        var temp = tmp1.split("&")
        var tmp2 = temp[0];
        var tmp3 = tmp2.split("=")[1];
        document.getElementById("isc").value=tmp3
        if(tmp3=='0'){
            document.getElementById("pn").readOnly=true
        }
        if(temp[1]){
            var pname = temp[1].split("=")[1];
            document.getElementById("h2").innerHTML = pname;
            document.getElementById("pn").value=pname;
        }
    }
    function onPostForm() {
        $.ajax({
            cache: true,
            type: "POST",
            url: '/manageProject/saveProject',
            data: $('#prForm').serialize(),// 你的formid
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                var myurl = "defaul-project?name=" + document.getElementById("pn").value;

                window.location.assign(encodeURI(myurl));
            }
        });
    }
    $(function(){
        $('#prForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                tz: {
                    validators: {
                        notEmpty: {
                            message: '投资 is required and cannot be empty'
                        }
                    }
                }
            }
        })
    })
    function onBuildYear(op){

        var year = Number(op)
        //直接取第一个做判断,
        //如果存在直接把所有动态添加的div全部清理
        var els = document.getElementsByName("els")
        while(els.length>0){
            document.getElementById('modifyForm').removeChild(els[0])
        }
        function onC(title,strId){
            for(var i = 1;i<=year;i++){
                var div = document.createElement('div')
                var label = document.createElement('label')
                label.setAttribute('for',strId+i)
                label.innerHTML = title+'(第'+i+'年)'
                var input = document.createElement('input')
                input.setAttribute('class','form-control')
                input.setAttribute('id',strId+i)
                div.appendChild(label)
                div.appendChild(input)
                div.setAttribute("class","col-lg-2 col-md-2 form-group")
                div.setAttribute('name',"els")
                document.getElementById('modifyForm').appendChild(div)
            }
        }
        onC("建设期投资比例","jsq")
        onC("贷款投入比例","dktr")
    }
    function onModule(op){

    }
    //复写重置方法
    function onRest(){
        var els = document.getElementsByName("els")
        while(els.length>0){
            document.getElementById('modifyForm').removeChild(els[0])
        }
    }
    function getCookie(name)
    {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
</script>

</body>
</html>