//
   Created by czw on 16-9-23.

extends layout

block content
    h1= title

    table#list2
        div#pager2

    script(type='text/javascript').
        var bYear = 4;
        var mYear = 30; //建设期和运营期从服务端取配置
        var calNamesArr = ["序号","项目"];
        var colModelArr = [
            {name: 'num', index: 'num', width: 60, align: 'center', sortable: false,  frozen: true,editable : true},
            {name: 'name', index: 'name', width: 130, sortable: false, frozen: true},
        ];
        //初始化表格
        for (var i = 1; i <= mYear; ++i) {
            calNamesArr.push(String(i));
            var model = {name: "r" + i, index: "r" + i, width: 75, sortable: false, align: "right", formatter: 'number'};
            colModelArr.push(model)
        }
        $(function () {
            pageInit();
        });
        function pageInit() {
            jQuery("#list2").jqGrid({
                url: '/profit/lrb',
                datatype: "json",
                colNames: calNamesArr,
                colModel: colModelArr,
                rowNum: 20,
                width: 1400,
                rowList: [12],
                pager: '#pager2',
                viewrecords: true,
                sortable:false,
                jsonReader: {
                    repeatitems: false
                },
                shrinkToFit: false,
                caption: "利润与利润分配表（计算流量）",
                height: 'auto',
                mtype:"POST"
            });
            $("#list2").jqGrid('setGroupHeaders', {
                useColSpanStyle: true,
                groupHeaders: [
                    {startColumnName: 'r1', numberOfColumns: mYear, titleText: '运营期'}
                ]
            });
            jQuery("#list2").jqGrid('setFrozenColumns');
            jQuery("#list2").jqGrid('navGrid', '#pager2', {edit: true, add: false, del: false});
        }
