<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="boostrap/css/bootstrap-table.min.css">
    <link href="boostrap/css/templatemo-style.css" rel="stylesheet">
    <link href="boostrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="boostrap/css/bootstrapValidator.css" rel="stylesheet">

</head>
<body style="background-color: transparent">
<div class="templatemo-content col-1 light-gray-bg">
<div class="templatemo-content-widget white-bg">
    <h2 class="margin-bottom-10">项目全局变量</h2>
    <div class="panel panel-default no-border">
        <div class="panel-heading border-radius-10">
            <h2 id='h2'></h2>
        </div>
        <div class="panel-body">
            <form class="templatemo-login-form" id="prForm">
                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="tz">投资系数</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="tz" name="tz">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lx">利息系数</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="lx" name="lx">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="sr">收入系数</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="sr" name="sr">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="sglrb">施工利润比例(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="sglrb" name="sglrb">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="sglrsl">施工利润税率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="sglrsl" name="sglrsl">
                    </div>

                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="df">地方股比(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="df" name="df">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="zj">中交股比(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="zj" name="zj">
                    </div>
                    
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="bbbbl">部补助比例(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="bbbbl" name="bbbbl">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">资本金构成(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="zbjgc" name="zbjgc">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="ziyouzijin">自有资金比(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="ziyouzijin" name="ziyouzijin">
                    </div>
                    
                    
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="jcbl">价差比例(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="jcbl" name="jcbl">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="jcsl">价差税率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="jcsl" name="jcsl">
                    </div>

                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="zzs">增值税(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="zzs" name="zzs">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="jzzxl">基准折现率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="jzzxl" name="jzzxl">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="sds">所得税(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="sds" name="sds">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">流转税(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="lzs" name="lzs">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="dkll">短期贷款利率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="dkll" name="dkll">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="dklx5y">长期贷款利率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="dklx5y" name="dklx5y">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="xfbl">建安费下浮比例(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="xfbl" name="xfbl">
                    </div>
                     <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="gkhjjll">国开行基金利率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="gkhjjll" name="gkhjjll">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="gkhjjbl">国开行基金比例(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="gkhjjbl" name="gkhjjbl">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label class="control-label templatemo-block">冲减模式</label>
                        <select onchange="onModule(this.value)" class="form-control" style="overflow-y: scroll;"
                                id="moduleSel" name="moduleSel">
                            <option value="0">冲减贷款模式</option>
                            <option value="1">冲减资本金模式</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="yyqzjfh">运营期中交分红比例(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')"  id="yyqzjfh" name="yyqzjfh">
                    </div>
                    
                </div>
                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">大修年限</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="bfy" name="bfy">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">中修年限</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="mfy" name="mfy">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">服务费增长率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="sct" name="sct">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">管理费增长率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="mcf" name="mcf">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">大维修费增长率(%)</label>
                        <input type="text" class="form-control"  onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="bfr" name="bfr">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">中维修费增长率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="mfr" name="mfr">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">养护费用增长率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="mtcr" name="mtcr">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">机电维修增长率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="mcr" name="mcr">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" style="float: left">
                        <label for="lzs">隧道机电维修增长率(%)</label>
                        <input type="text" class="form-control" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" id="tmct" name="tmct">
                    </div>
                    
                    
                </div>
                <input type="text" class="form-control" id="cn" name="cn" style="display: none">
                <input type="text" class="form-control" id="isc" name="isc" style="display: none">
            </form>
            <div id="toolbar" style="display:none">
                <h4 style="float:left">交通量及车型占比预测</h4>
            </div>
            <table id="table" class="table table-striped table-bordered templatemo-user-table" data-toggle="table" data-page-list=""
                   data-height="auto" data-pagination="true" style="display:none">
                <thead>
                <tr>
                    <th data-field="_id"></th>
                    <th data-field="y" data-formatter="yFormatter">年份</th>
                    <th data-field="jtl" data-formatter="jtlFormatter">预测交通量</th>
                    <th data-field="k1" data-formatter="k1Formatter">客一类(%)</th>
                    <th data-field="k2" data-formatter="k2Formatter">客二类(%)</th>
                    <th data-field="k3" data-formatter="k3Formatter">客三类(%)</th>
                    <th data-field="k4" data-formatter="k4Formatter">客四类(%)</th>
                    <th data-field="h1" data-formatter="h1Formatter">货一类(%)</th>
                    <th data-field="h2" data-formatter="h2Formatter">货二类(%)</th>
                    <th data-field="h3" data-formatter="h3Formatter">货三类(%)</th>
                    <th data-field="h4" data-formatter="h4Formatter">货四类(%)</th>
                    <th data-field="h5" data-formatter="h5Formatter">货五类(%)</th>
                    <th data-formatter="hjFormatter">合计</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                </tr>
                </thead>
            </table>
            <button id="button" class="btn btn-success" style="display:none">添加记录</button>
            <div style="margin: 10px">
                <h4 style="float:left">收费标准系数</h4>
            </div>
            <table id="sfbzTable" class="table table-striped table-bordered templatemo-user-table" data-toggle="table" data-page-list=""
                   data-height="auto">
                <thead>
                <tr>
                    <th data-field="sfid"></th>
                    <th data-field="sfy"  data-formatter="sfyFormatter">年份</th>
                    <th data-field="sfk1"  data-formatter="sfk1Formatter">客一类</th>
                    <th data-field="sfk2"  data-formatter="sfk2Formatter">客二类</th>
                    <th data-field="sfk3"  data-formatter="sfk3Formatter">客三类</th>
                    <th data-field="sfk4"  data-formatter="sfk4Formatter">客四类</th>
                    <th data-field="sfh1"  data-formatter="sfh1Formatter">货一类</th>
                    <th data-field="sfh2"  data-formatter="sfh2Formatter">货二类</th>
                    <th data-field="sfh3"  data-formatter="sfh3Formatter">货三类</th>
                    <th data-field="sfh4"  data-formatter="sfh4Formatter">货四类</th>
                    <th data-field="sfh5"  data-formatter="sfh5Formatter">货五类</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                </tr>
                </thead>
            </table>
            <button id="sfbzAddYear" class="btn btn-success">添加记录</button>
            <div style="margin: 10px">
            </div>
            <table id="xsTable" class="table table-striped table-bordered templatemo-user-table" data-toggle="table" data-page-list=""
                   data-height="auto" data-pagination="true">
                   <colgroup>
                        <col style="width:10%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                        <col style="width:9%">
                   </colgroup>
                <thead>
                <tr>
                    <th data-field="name">备注</th>
                    <th data-field="xsk1"  data-formatter="xsk1Formatter">客一类</th>
                    <th data-field="xsk2"  data-formatter="xsk2Formatter">客二类</th>
                    <th data-field="xsk3"  data-formatter="xsk3Formatter">客三类</th>
                    <th data-field="xsk4"  data-formatter="xsk4Formatter">客四类</th>
                    <th data-field="xsh1"  data-formatter="xsh1Formatter">货一类</th>
                    <th data-field="xsh2"  data-formatter="xsh2Formatter">货二类</th>
                    <th data-field="xsh3"  data-formatter="xsh3Formatter">货三类</th>
                    <th data-field="xsh4"  data-formatter="xsh4Formatter">货四类</th>
                    <th data-field="xsh5"  data-formatter="xsh5Formatter">货五类</th>
                </tr>
                </thead>
            </table>
            <div class="form-group text-right">
                <button onclick="onPostForm()" class="templatemo-blue-button">保存</button>
                <button onclick="onRest()" class="templatemo-blue-button">重置</button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- JS -->
<script src="boostrap/js/jquery-1.11.2.min.js"></script>
<script src="boostrap/js/bootstrap.min.js"></script>
<script src="boostrap/js/bootstrap-table.js"></script>
<script src="boostrap/js/bootstrapValidator.js"></script>
<script src="boostrap/js/bootstrapValidator.js"></script>
<script src="modify-project-table.js"></script>      <!-- Templatemo Script -->
<script src="boostrap/bootstrap-table-zh-CN.js"></script>
<script>
    var g_ArgPost = {} //全局参数
    var auto_height = 1300
    window.parent.document.getElementById('ifr').style.height = auto_height+"px"
    $(function () {
        $.getJSON("/manageProject/getGlobal", {}, function (argPost) {
            g_ArgPost = argPost
            setInputValue(argPost)
        })
    })
    function setInputValue(argPost){
        document.getElementById("ziyouzijin").value = argPost.ziyouzijin || "";
        document.getElementById("dklx5y").value = argPost.dklx5y || "";
        document.getElementById("dkll").value = argPost.dkll || "";
        document.getElementById("xfbl").value = argPost.xfbl || "";
        document.getElementById("jcbl").value = argPost.jcbl || "";
        document.getElementById("jcsl").value = argPost.jcsl || "";
        document.getElementById("zzs").value = argPost.zzs || "";
        document.getElementById("gkhjjll").value = (argPost.gkhjjll) || "";
        document.getElementById("gkhjjbl").value = (argPost.gkhjjbl) || "";
        document.getElementById("jzzxl").value = (argPost.jzzxl) || "";
        document.getElementById("sds").value = (argPost.sds) || "";
        document.getElementById("lzs").value = (argPost.lzs) || "";
        document.getElementById("sglrb").value = (argPost.sglrb) || "";
        document.getElementById("sglrsl").value = (argPost.sglrsl) || "";
        // document.getElementById("gndklx").value = (argPost.gndklx) || "";

        document.getElementById("tz").value = (argPost.tz) || "";
        document.getElementById("lx").value = (argPost.lx) || "";
        document.getElementById("sr").value = (argPost.sr) || "";
        // document.getElementById("qc").value = (argPost.qc) || "";
        // document.getElementById("ztz").value = (argPost.ztz) || "";
        document.getElementById("dkll").value = (argPost.dkll) || "";
        // document.getElementById("jaf").value = (argPost.jaf) || "";

        document.getElementById("df").value = (argPost.df) || "";
        document.getElementById("zj").value = (argPost.zj) || "";
        document.getElementById("yyqzjfh").value = (argPost.yyqzjfh) || "";
        // document.getElementById("dfbz").value = (argPost.dfbz) || "";
        document.getElementById("bbbbl").value = (argPost.bbbbl) || "";
        document.getElementById("zbjgc").value = (argPost.zbjgc) || "";
        document.getElementById("moduleSel").value = (argPost.moduleSel) || 0;
        // document.getElementById("buildSel").value = (argPost.buildSel) || "";

        document.getElementById("mcf").value = argPost.mcf || "";
        document.getElementById("bfr").value = argPost.bfr || "";
        document.getElementById("mfr").value = argPost.mfr || "";
        document.getElementById("mtcr").value = argPost.mtcr || "";
        document.getElementById("mcr").value = argPost.mcr || "";
        document.getElementById("tmct").value = argPost.tmct || "";
        document.getElementById("sct").value = argPost.sct || "";
        document.getElementById("bfy").value = argPost.bfy || "";
        document.getElementById("mfy").value = argPost.mfy || "";

        // document.getElementById("yyq").value = (argPost.yyq) || "";
        // onBuildYear(argPost.buildSel)
        // var yr = 1
        // while (true) {
        //     if (argPost['jsq' + yr] && argPost['dktr' + yr]) {
        //         document.getElementById("jsq" + yr).value = Number(argPost['jsq' + yr])
        //         document.getElementById("dktr" + yr).value = Number(argPost['dktr' + yr])
        //         yr++
        //     } else {
        //         break
        //     }
        // }

        // setCarYearTableView(argPost)
        setXsTableView(argPost)
        setSfYearTableView(argPost)
    }

    function onPostForm() {
        var postData = $('#prForm').serialize()
        // postData += getTablePostVariable("table")
        postData += getTablePostVariable("xsTable")
        postData += getTablePostVariable("sfbzTable")
        $.ajax({
            cache: true,
            type: "POST",
            url: '/manageProject/saveGlobal',
            data: postData,// 你的formid
            async: false,
            error: function (request) {
                alert("Connection error");
            },
            success: function (data) {
                if (data.ok == 1) {
                    g_ArgPost = data.d
                    alert('保存成功')
                }
            }
        });
    }

    //复写重置方法
    function onRest() {
        setInputValue(g_ArgPost)
    }
    // function onBuildYear(op) {

    //     var year = Number(op)
    //     //直接取第一个做判断,
    //     //如果存在直接把所有动态添加的div全部清理
    //     var els = document.getElementsByName("els")
    //     while (els.length > 0) {
    //         document.getElementById('modifyForm').removeChild(els[0])
    //     }
    //     function onC(title, strId) {
    //         for (var i = 1; i <= year; i++) {
    //             var div = document.createElement('div')
    //             var label = document.createElement('label')
    //             label.setAttribute('for', strId + i)
    //             label.innerHTML = title + '(第' + i + '年)'
    //             var input = document.createElement('input')
    //             input.setAttribute('class', 'form-control')
    //             input.setAttribute('id', strId + i)
    //             input.setAttribute('name', strId + i)
    //             div.appendChild(label)
    //             div.appendChild(input)
    //             div.setAttribute("class", "col-lg-2 col-md-2 form-group")
    //             div.setAttribute('name', "els")
    //             div.setAttribute('style', "float: left")
    //             document.getElementById('modifyForm').appendChild(div)
    //         }
    //     }
    //     onC("建设期投资比例", "jsq")
    //     onC("贷款投入比例", "dktr")
    // }
</script>

</body>
</html>