extends layout

block content
  h1= title

  table#list2
    div#pager2

  script(type='text/javascript').

    var bYear = 4;
    var mYear = 30; //建设期和运营期从服务端取配置
    var calNamesArr = ["序号","项目","合计"];
    var colModelArr = [
        {name: 'num', index: 'num', width: 60, align: 'center', sortable: false,  frozen: true},
        {name: 'name', index: 'name', width: 100, sortable: false, frozen: true},
        {name: 'total', index: 'total', width: 75, formatter: 'number', sortable: false, frozen: true, align: 'right'}
    ];
    //初始化表格
    for (var i = 1; i <= bYear; ++i) {
        calNamesArr.push(String(i));
        var model = {name:"b"+i, index:"b" + i, width:75, sortable: false, align: "right", formatter: 'number'};
        colModelArr.push(model)
    }
    for (var i = 1; i <= mYear; ++i) {
        calNamesArr.push(String(i));
        var model = {name: "m" + i, index: "m" + i, width: 75, sortable: false, align: "right", formatter: 'number'};
        colModelArr.push(model)
    }
    $(function () {
      pageInit();
    });
    function pageInit() {
        jQuery("#list2").jqGrid({
            url: '/users/hbfx',
            datatype: "json",
            colNames: calNamesArr,
            colModel: colModelArr,
            rowNum: 10,
            width: 1400,
            rowList: [10, 20, 30],
            pager: '#pager2',
            viewrecords: true,
            sortable:false,
            jsonReader: {
                repeatitems: false
            },
            shrinkToFit: false,
            caption: "还本付息表",
            height: 'auto',
            mtype:"POST"
        });
        $("#list2").jqGrid('setGroupHeaders', {
            useColSpanStyle: true,
            groupHeaders: [
                {startColumnName: 'b1', numberOfColumns: bYear, titleText: '建设期'},
                {startColumnName: 'm1', numberOfColumns: mYear, titleText: '运营期'}
            ]
        })
        jQuery("#list2").jqGrid('setFrozenColumns');
        jQuery("#list2").jqGrid('navGrid', '#pager2', {edit: false, add: false, del: false});
    }